pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.years",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"typeProperties": {
								"variableName": "array1",
								"value": {
									"value": "@add(item(),1)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "array2",
					"value": {
						"value": "@variables('array1')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"years": {
				"type": "array",
				"defaultValue": [
					2023,
					2024,
					2025
				]
			}
		},
		"variables": {
			"array1": {
				"type": "Array"
			},
			"array2": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-13T06:36:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}